# Environment files
.env
.env.backup
.env.production
*.env
*.sqlite
*.sqlite-journal

# Dependencies & Build artifacts
/node_modules
/vendor
/public/build
/public/hot
/storage/*.key
.phpunit.result.cache

# Logs & Cache
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# OS & IDE
.DS_Store
Thumbs.db
.idea
.vscode
*.suo
*.user
*.userosscache
*.sln.docstates
